apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: MetalStackMachineTemplate
metadata:
  name: k8s-upgrade-controlplane
  namespace: ${NAMESPACE}
spec:
  template:
    spec:
      size: ${CONTROL_PLANE_MACHINE_SIZE}
      image: ${KUBERNETES_IMAGE_UPGRADE_TO}
