export METAL_API_URL=http://metal.203.0.113.1.nip.io:8080
export METAL_API_HMAC=metal-admin

export METAL_PROJECT_ID=00000000-0000-0000-0000-000000000001
export POD_CIDR=10.240.0.0/12
export METAL_PARTITION=mini-lab
export METAL_NODE_NETWORK_ID=00000000-0000-0000-0000-000000000002

export FIREWALL_MACHINE_SIZE=v1-small-x86
export FIREWALL_MACHINE_IMAGE=
export FIREWALL_NETWORKS=[internet]

export CONTROL_PLANE_IP=203.0.113.130
export CONTROL_PLANE_MACHINE_SIZE=v1-small-x86
export CONTROL_PLANE_MACHINE_IMAGE=ubuntu-24.4

export WORKER_MACHINE_IMAGE=ubuntu-24.4
export WORKER_MACHINE_SIZE=v1-small-x86
