---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  - machines
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - metalstackclusters
  - metalstackfirewalldeployments
  - metalstackfirewalltemplates
  - metalstackmachines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - metalstackclusters/finalizers
  - metalstackfirewalldeployments/finalizers
  - metalstackfirewalltemplates/finalizers
  - metalstackmachines/finalizers
  verbs:
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - metalstackclusters/status
  - metalstackfirewalldeployments/status
  - metalstackmachines/status
  verbs:
  - get
  - patch
  - update
