---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: metalstackclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: MetalStackCluster
    listKind: MetalStackClusterList
    plural: metalstackclusters
    singular: metalstackcluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster to which this MetalStackCluster belongs
      jsonPath: .metadata.labels.cluster\.x-k8s\.io/cluster-name
      name: Cluster
      type: string
    - description: Control plane API endpoint
      jsonPath: .spec.controlPlaneEndpoint.host
      name: Endpoint
      type: string
    - description: The partition within metal-stack
      jsonPath: .spec.partition
      name: Partition
      priority: 1
      type: string
    - description: The project within metal-stack
      jsonPath: .spec.projectID
      name: Project
      priority: 1
      type: string
    - description: The network within metal-stack
      jsonPath: .spec.nodeNetworkID
      name: Network
      priority: 1
      type: string
    - description: MetalStackCluster is ready
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: Uptime of the cluster
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MetalStackCluster is the Schema for the metalstackclusters API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MetalStackClusterSpec defines the desired state of MetalStackCluster.
            properties:
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the control plane.
                properties:
                  host:
                    description: Host is the hostname on which the API server is serving.
                    type: string
                  port:
                    description: Port is the port on which the API server is serving.
                    type: integer
                required:
                - host
                - port
                type: object
              controlPlaneIP:
                description: |-
                  ControlPlaneIP is the ip address in metal-stack on which the control plane will be exposed.
                  If this ip and the control plane endpoint are not provided, an ephemeral ip will automatically be acquired during reconcile.
                  Static ip addresses will not be deleted.
                type: string
              firewallDeploymentRef:
                description: |-
                  FirewallDeploymentRef references a MetalStackFirewallDeployment resource which manages the firewall for this cluster.
                  This feature is currently in public preview.
                properties:
                  name:
                    description: Name is the name of the MetalStackFirewallDeployment
                      resource.
                    type: string
                required:
                - name
                type: object
              nodeNetworkID:
                description: NodeNetworkID is the network ID in metal-stack in which
                  the worker nodes and the firewall of the cluster are placed.
                type: string
              partition:
                description: Partition is the data center partition in which the resources
                  are created.
                type: string
              projectID:
                description: ProjectID is the project id of the project in metal-stack
                  in which the associated metal-stack resources are created.
                type: string
            required:
            - nodeNetworkID
            - partition
            - projectID
            type: object
          status:
            description: MetalStackClusterStatus defines the observed state of MetalStackCluster.
            properties:
              conditions:
                description: Conditions defines current service state of the MetalStackCluster.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This field may be empty.
                      maxLength: 10240
                      minLength: 1
                      type: string
                    reason:
                      description: |-
                        reason is the reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may be empty.
                      maxLength: 256
                      minLength: 1
                      type: string
                    severity:
                      description: |-
                        severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      maxLength: 32
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      maxLength: 256
                      minLength: 1
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failureMessage:
                description: |-
                  FailureMessage indicates that there is a fatal problem reconciling the
                  state, and will be set to a descriptive error message.
                type: string
              failureReason:
                description: |-
                  FailureReason indicates that there is a fatal problem reconciling the
                  state, and will be set to a token value suitable for
                  programmatic interpretation.
                type: string
              ready:
                default: false
                description: Ready denotes that the cluster is ready.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
