---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: metalstackfirewalldeployments.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: MetalStackFirewallDeployment
    listKind: MetalStackFirewallDeploymentList
    plural: metalstackfirewalldeployments
    shortNames:
    - msfwdeploy
    singular: metalstackfirewalldeployment
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster to which this MetalStackCluster belongs
      jsonPath: .metadata.labels.cluster\.x-k8s\.io/cluster-name
      name: Cluster
      type: string
    - description: Name of the MetalStackFirewallTemplate used
      jsonPath: .spec.firewallTemplateRef.name
      name: Template
      type: string
    - description: Name of the managed FirewallDeployment
      jsonPath: .spec.managedResourceRef.name
      name: Deployment
      type: string
    - description: Indicates if the MetalStackFirewallDeployment is ready
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: Age of the MetalStackFirewallDeployment
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MetalStackFirewallDeployment is the Schema for the MetalStackFirewallDeployments
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MetalStackFirewallDeploymentSpec defines the desired state
              of MetalStackFirewallDeployment
            properties:
              autoUpdate:
                description: AutoUpdate defines the behavior for automatic updates.
                properties:
                  machineImage:
                    description: |-
                      MachineImage auto updates the os image of the firewall within the maintenance time window
                      in case a newer version of the os is available.
                    type: boolean
                type: object
              firewallTemplateRef:
                description: FirewallTemplateRef references the MetalStackFirewallTemplate
                  to use for the firewall deployment.
                properties:
                  name:
                    description: Name of the MetalStackFirewallTemplate.
                    type: string
                required:
                - name
                type: object
              managedResourceRef:
                description: ManagedResourceRef references the MetalStackManagedResource
                  that provides the underlying infrastructure for the firewall deployment.
                properties:
                  name:
                    description: Name of the MetalStackManagedResource.
                    type: string
                required:
                - name
                type: object
            type: object
          status:
            description: MetalStackFirewallDeploymentStatus defines the observed state
              of MetalStackFirewallDeployment
            properties:
              conditions:
                description: Conditions defines current service state of the MetalStackCluster.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This field may be empty.
                      maxLength: 10240
                      minLength: 1
                      type: string
                    reason:
                      description: |-
                        reason is the reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may be empty.
                      maxLength: 256
                      minLength: 1
                      type: string
                    severity:
                      description: |-
                        severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      maxLength: 32
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      maxLength: 256
                      minLength: 1
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              ready:
                default: false
                type: boolean
            required:
            - ready
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
