---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: metalstackmachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: MetalStackMachine
    listKind: MetalStackMachineList
    plural: metalstackmachines
    singular: metalstackmachine
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster to which this MetalStackMachine belongs
      jsonPath: .metadata.labels.cluster\.x-k8s\.io/cluster-name
      name: Cluster
      type: string
    - description: ProviderID reference for the MetalStackMachine
      jsonPath: .spec.providerID
      name: ProviderID
      type: string
    - description: Size of the MetalStackMachine
      jsonPath: .spec.size
      name: Size
      priority: 1
      type: string
    - description: OS image of the MetalStackMachine
      jsonPath: .spec.image
      name: Image
      type: string
    - description: MetalStackMachine is ready for worker nodes
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: Health of the provider machine
      jsonPath: .status.conditions[1].status
      name: Healthy
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MetalStackMachine is the Schema for the metalstackmachines API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MetalStackMachineSpec defines the desired state of MetalStackMachine.
            properties:
              image:
                description: Image is the operating system to deploy on the machine
                type: string
              providerID:
                description: ProviderID points to the metal-stack machine ID.
                type: string
              size:
                description: Size is the size of the machine
                type: string
            required:
            - image
            - size
            type: object
          status:
            description: MetalStackMachineStatus defines the observed state of MetalStackMachine.
            properties:
              addresses:
                description: MachineAddresses contains all host names, external or
                  internal IP addresses and external or internal DNS names.
                items:
                  description: MachineAddress contains information for the node's
                    address.
                  properties:
                    address:
                      description: address is the machine address.
                      maxLength: 256
                      minLength: 1
                      type: string
                    type:
                      description: type is the machine address type, one of Hostname,
                        ExternalIP, InternalIP, ExternalDNS or InternalDNS.
                      enum:
                      - Hostname
                      - ExternalIP
                      - InternalIP
                      - ExternalDNS
                      - InternalDNS
                      type: string
                  required:
                  - address
                  - type
                  type: object
                maxItems: 32
                type: array
                x-kubernetes-list-type: atomic
              conditions:
                description: Conditions defines current service state of the MetalStackMachine.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              failureMessage:
                description: |-
                  FailureMessage indicates that there is a fatal problem reconciling the
                  state, and will be set to a descriptive error message.
                type: string
              failureReason:
                description: |-
                  FailureReason indicates that there is a fatal problem reconciling the
                  state, and will be set to a token value suitable for
                  programmatic interpretation.
                type: string
              initialization:
                description: Initialization provides information about the initialization
                  status of the MetalStackMachine.
                minProperties: 1
                properties:
                  provisioned:
                    description: |-
                      Provisioned indicates that the initial provisioning has been completed.
                      NOTE: this field is part of the Cluster API v1beta2 contract, and it is used to orchestrate initial Cluster provisioning.
                    type: boolean
                type: object
              ready:
                default: false
                description: |-
                  Ready denotes that the machine is ready.
                  NOTE: this field is part of the Cluster API v1beta1 contract.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
